name: tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  tests:
    uses: ZIMO-Elektronik/.github-workflows/.github/workflows/esp-elf-gcc.yml@v0.2.0
    with:
      pre-build: |
        sudo apt update -y
        sudo apt install -y libbsd-dev ninja-build
      esp_idf_version: v5.5.2
      target: linux
      command: |
        cmake --preset "Tests"
        cmake --build build --parallel
      post-build: |
        for i in {1..100}; do
          ./build/Firmware.elf && exit 0
        done
        exit 1
